* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    
}
.header{
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    width: 100%;
    height: 808px;
    text-align: right;
    background-repeat: no-repeat;

}

.banner{
    text-align: right;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    padding: 216px 230px 24px 845px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color:#151414;
    padding: 24px 230px 0 876px;

}

.btn-primary{
    width: 160px;
    height: 44px;
    border: 0;
    border-radius: 5px;
    color:white;
    margin: 24px 230px 0 876px;
    background-color: orangered;

}

/* about styles */
.about-title{
    display: flex;
    font-family: 'Work Sans';
    font-style: normal;
}

.image2{
    margin-top: 131px;
    margin-left: 206px;
    margin-right: 87px;

}
.section-title{
    color: #151414;
    padding-top: 340px;
    padding-right: 322px;
    padding-left: 87px;
    font-weight: 700;
    font-size: 40px;
    
}
.section-description{
    color: #444343;
    padding-top: 24px;
    padding-right:322px;
    padding-left: 87px;
    font-weight: 400;
    font-size: 16px;
}

.list-work{
    padding-top: 16px;
    padding-left: 87px;
    padding-right: 322px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}



/* Skill styles */

.what-i-do{
    text-align: center;
    padding: 0 230px 0 230px;
    
}

.what-i-do .section-title{
    font-weight: 700;
    font-size: 40px;
    padding-left: 380px;
    padding-bottom: 55px;

}

.what-i-do .skills-container{
    display: flex;
    justify-content: space-around;
}

.skill .skill-title{
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.skill .skill-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* positive mindset */

.mindset{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    margin-top: 130px;
    margin-left: 230px;
    border-radius: 8px;
}
.positive .section-title{
    font-weight: 700;
    font-size: 40px

}


/* Future styles */
.contact{
    color: #FFFFFF;
    display: flex;
    font-family: 'Work Sans';
    font-style: normal;
    gap: 100px;
    background: black;
    
    
}

.contact .section-title{
    color: #FFFFFF;
    font-size: 45px;
    margin-top: 130px ;
    margin-left: 230px ;
    
}
.contact .section-description{
    font-weight: 400;
    font-size: 16px;
    margin-left: 230px ;
    color: #FFFFFF;
    
}

.section-header{
    font-weight: 600;
    font-size: 25px; 
    color: #FFFFFF;
    Margin-top: 130px ;
    margin-left: 330px ;
}

.section-email{
    margin-left: 230px;
}

.section-phone{
    margin-left: 230px;
}
.contact a{
    text-decoration: none;
    margin-left: 230px;
    
}
.btn-secondry{
    width: 120px;
    height: 34px;
    border-radius: 5px;
    color:orange; 
    background-color: white; 
    margin-left: 330px ;
    
}

.email{
    background-color: black;
    margin-left: 330px ;
    margin-bottom: 10px;
    
}
